/* CSS for adjusting key colors
*
* Copyright (c) 2022 Hartmut Goebel (http://crazy-compilers.com/)
*
* SPDX-License-Identifier: GPL-3.0-or-later
*/

/* --- light colors --- */
.l5, .r5 { fill:#fff0d1; }
.l4, .r4 { fill:#ffd2d1; }
.l3, .r3 { fill:#b5f0c8; }
.l2, .r2 { fill:#d2e7ff; }
rec#nub, text.nubkey { fill:black; }


/* --- darker colors --- */
/*
.l5, .r5 { fill:#e4e4a7; }
.l4, .r4 { fill:#dfa5a5; }
.l3, .r3 { fill:#91dbb0; }
.l2, .r2 { fill:#9e9edc; }
*/

.grey.pressed { fill:#b7b7b7; }
.numpad,
.grey    { fill:#e1e1e1; }

/* End CSS for adjusting key colors */
